.app-container {
    height: 100vh;
}
.content-left {
    width: 210px;
    background-color: #282f31;
}
.sidebar-back {
    background-color: #282f31 !important;
}
.site-title {
    color: white;
    padding-top: 12px;
}
.sidebar-item {
    color: white;
}
.add-btn {
    color: white;
}
